* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: yellow;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
  }
  header, form {
    min-height: 20vh;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  form button {
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
  background: #ff6f47;
  color: white;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  .complete-btn {
    background: rgba(11, 212, 162);
  }
  .trash-btn 
  .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 ! important;
    background-image: none;
  }
  .to-list {
    min-width: 30%;
    list-style: none;
  
  }
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .to-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  .fall {
    transform: translate(10rem) rotateZ(20deg);
    opacity: 0;
  }